<div class="mummys-about">
  <div class="mummys-narrow-content">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title animate__animated animate__fadeInDown">
          Bienvenue chez MUMMY'S Food
          <span>Mon histoire</span>
        </h2>
      </div>
    </div>
    <div class="row row-bottom-padded-md">
      <div class="row">
        <div class="col-md-6 bloc-about-img">
          <div class="about-img animate__animated animate__fadeInLeft"
            style="background-image: url(assets/images/about.jpg);">
          </div>
        </div>
        <div class="col-md-6 animate__animated animate__fadeInRight bloc-about">
          <div class="about-desc">
            <p>Je suis une jeune maman de 3 enfants et je suis très passionnée de cuisine, j'adore découvrir de
              nouvelles
              saveurs et lorsque je goute un plat que j'aime, j'ai tout de suite envie de le reproduire et de le faire
              partager à mes enfants et à mon mari. Ca peut-être des découvertes chez une amie ou dans un restaurant ce
              qui est sûr c'est que nous avons encore beaucoup de choses à découvrir question culinaire et vous comme
              moi avons l'habitude de manger
              toujours les mêmes choses...</p>
            <p>Alors, j'ai voulu aller encore plus loin en créeant Mummy's Food car je souhaite dorénavant faire
              partager
              ma cuisine à tous et j'espère que cela vous plaira. Entrée, plat, dessert j'aime faire le mix entre les
              différentes saveurs, pourquoi ne pas faire une entrée asiatique avec un plat oriental suivi d'un dessert
              italien et vice versa mais je peux aller plus loin encore en vous faisant découvrir des saveurs d'autres
              pays ou continent.</p>
          </div>
          <div class="row padding">
            <div class="col-md-4 no-gutters">
              <a href="#" class="steps active">
                <p class="icon"><span><i class="icon-check"></i></span></p>
                <h3>Je suis <br>passionné</h3>
              </a>
            </div>
            <div class="col-md-4 no-gutters">
              <a href="#" class="steps">
                <p class="icon"><span><i class="icon-check"></i></span></p>
                <h3>Pleine de <br>surprise</h3>
              </a>
            </div>
            <div class="col-md-4 no-gutters">
              <a href="#" class="steps">
                <p class="icon"><span><i class="icon-check"></i></span></p>
                <h3>J'aime <br>découvrir</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mummys-counter></app-mummys-counter>
<app-footer></app-footer>
