<div class="nav-footer">
  <a routerLink="/entrees" routerLinkActive="active" class="d-flex flex-column align-items-center">
    <i class="fas fa-carrot fa-2x mb-1" style="color: #ffcd6d;"></i>
    <span class="text-nav" style="color: #ffcd6d;">Entrées</span>
  </a>
  <a routerLink="/plats" routerLinkActive="active" class="d-flex flex-column align-items-center">
    <i class="fas fa-utensils fa-2x mb-1" style="color: lightblue;"></i>
    <span class="text-nav" style="color: lightblue;">Plats</span>
  </a>
  <a routerLink="/desserts" routerLinkActive="active" class="d-flex flex-column align-items-center">
    <i class="fas fa-ice-cream fa-2x mb-1" style="color: pink;"></i>
    <span class="text-nav" style="color: pink;">Desserts</span>
  </a>
  <a routerLink="/boissons" routerLinkActive="active" class="d-flex flex-column align-items-center">
    <i class="fas fa-cocktail fa-2x mb-1" style="color: #bbf5bb;"></i>
    <span class="text-nav" style="color: #bbf5bb;">Boissons</span>
  </a>
  <a routerLink="/menus" routerLinkActive="active" class="d-flex flex-column align-items-center">
    <i class="fas fa-cube fa-2x mb-1" style="color: #ffa392;"></i>
    <span class="text-nav" style="color: #ffa392;">Menus</span>
  </a>
</div>
