<div class="mummys-narrow-content">
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-title">
        Manger frais et faits maison !
        <span>LE CONCEPT</span>
      </h2>
      <p>Chaque mois, j'aurai pour objectif de vous proposer 3 entrées, 3 plats et 3 desserts. Vous aurez donc la
        possibilité de composer votre repas parmi mes suggestions du mois ou de choisir parmi les formules proposées.
      </p>
      <p>
        Tous nos produits sont vendus uniquement en livraison ou à emporter et les viandes sont halal.
      </p>
    </div>
  </div>
  <div class="row padding">
    <div class="col-lg-3 col-md-6 col-6">
      <div class="icone-step text-center animate__animated animate__pulse animate__infinite">
        <span>3</span>
        <img src="assets/images/salad.png" alt="" width="80">
        <h3 class="title-box mt-4">Entrées</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <div class="icone-step text-center animate__animated animate__pulse animate__infinite">
        <span>3</span>
        <img src="assets/images/noodle.png" alt="" width="80">
        <h3 class="title-box mt-4">Plats</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <div class="icone-step text-center animate__animated animate__pulse animate__infinite">
        <span>3</span>
        <img src="assets/images/tarte.png" alt="" width="80">
        <h3 class="title-box mt-4">Desserts</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <div class="icone-step text-center animate__animated animate__pulse animate__infinite">
        <span>3</span>
        <img src="assets/images/menu.png" alt="" width="80">
        <h3 class="title-box mt-4">Menus</h3>
      </div>
    </div>
  </div>
</div>
