<div class="row padding mt-5">
  <div class="col-md-12 col-md-offset-3 col-md-pull-3">
    <h2 class="mummys-heading">Catégories</h2>
  </div>
  <div class="bloc-category col-lg-3 col-sm-6 d-flex justify-content-center" *ngIf="href !== 'entrees'" (click)="goToCategory('entrees')">
    <div class="icone-step text-center animate__animated animate__pulse animate__infinite delay-1">
      <img src="assets/images/salad.png" alt="" width="80">
      <h3 class="title-box mt-4">Entrées</h3>
    </div>
  </div>
  <div class="bloc-category col-lg-3 col-sm-6 d-flex justify-content-center" *ngIf="href !== 'plats'" (click)="goToCategory('plats')">
    <div class="icone-step text-center animate__animated animate__pulse animate__infinite delay-2">
      <img src="assets/images/noodle.png" alt="" width="80">
      <h3 class="title-box mt-4">Plats</h3>
    </div>
  </div>
  <div class="bloc-category col-lg-3 col-sm-6 d-flex justify-content-center" *ngIf="href !== 'desserts'" (click)="goToCategory('desserts')">
    <div class="icone-step text-center animate__animated animate__pulse animate__infinite delay-3">
      <img src="assets/images/tarte.png" alt="" width="80">
      <h3 class="title-box mt-4">Desserts</h3>
    </div>
  </div>
  <div class="bloc-category col-lg-3 col-sm-6 d-flex justify-content-center" *ngIf="href !== 'boissons'" (click)="goToCategory('boissons')">
    <div class="icone-step text-center animate__animated animate__pulse animate__infinite delay-4">
      <img src="assets/images/soda.png" alt="" width="80">
      <h3 class="title-box mt-4">Boissons</h3>
    </div>
  </div>
  <div class="bloc-category col-lg-3 col-sm-6 d-flex justify-content-center" *ngIf="href !== 'menus'" (click)="goToCategory('menus')">
    <div class="icone-step text-center animate__animated animate__pulse animate__infinite delay-5">
      <img src="assets/images/menu.png" alt="" width="80">
      <h3 class="title-box mt-4">Menus</h3>
    </div>
  </div>
</div>
