.bloc-category {
  cursor: pointer;

  .icone-step {
    position: relative;
    width: 200px;
    height: 180px;
    padding: 10px;
    border-radius: 30px;

    img {
      margin-top: 20px;
    }

    .title-box {
      display: none;
      color: #dfd1ba;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 0;
    }

    &:hover {
      border-bottom: 5px solid #f7f0e6;
      
      .title-box {
        display: block;
      }
    }
  }
}


@media screen and (max-width: 420px) {
  .row {
    display: none;
  }
}
