<div class="loading d-flex flex-column align-items-center justify-content-center" *ngIf="loading">
  <div class="animate__animated animate__pulse animate__infinite text-center">
    <img src="assets/images/logo.png" alt="" width="100">
    <p class="text-white mt-2">Veuillez patienter...</p>
  </div>
</div>
<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="heading-meta">Paiement</span>
        <h2 class="mummys-heading">Procéder au paiement.</h2>
        <div class="ariane-fil d-flex align-items-center justify-content-center">
          <div class="ml-3 mr-3">
            <a routerLink="/cart">
              <h2 class="d-flex align-items-center">
                <i class="fas fa-shopping-cart"></i>
                <span>Panier</span>
              </h2>
            </a>
          </div>
          <i class="fas fa-angle-right" *ngIf="carts.length > 0"></i>
          <a routerLink="/delivery" *ngIf="carts.length > 0">
            <div class="ml-3 mr-3">
              <h2 class="d-flex align-items-center"><i class="fas fa-truck"></i>
                <span>Livraison</span>
              </h2>
            </div>
          </a>
          <i class="fas fa-angle-right" *ngIf="carts.length > 0"></i>
          <div class="ml-3 mr-3" *ngIf="carts.length > 0">
            <a routerLink="/checkout">
              <h2 class="active d-flex align-items-center">
                <i class="fas fa-credit-card"></i>
                <span>Paiement</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--Main layout-->
    <main class="pt-4">
      <div class="container wow fadeIn">
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-8 col-md-6 mb-4 mx-auto">
            <div class="container-checkout bg-white rounded-lg p-5">
              <!-- Credit card form tabs -->
              <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                <li class="nav-item" style="width: 175px">
                  <a data-toggle="pill" href="#nav-tab-card" class="nav-link rounded-pill active">
                    <i class="fas fa-credit-card mr-2"></i>
                    Carte bancaire
                  </a>
                </li>
                <li class="nav-item" style="width: 175px">
                  <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill">
                    <i class="fas fa-truck mr-2"></i>
                    A la livraison
                  </a>
                </li>
              </ul>
              <!-- End -->


              <!-- Credit card form content -->
              <div class="tab-content">

                <!-- credit card info-->
                <div id="nav-tab-card" class="tab-pane fade active show">
                  <p class="d-flex align-items-center justify-content-between">Pour plus de sécurité, optez pour un
                    paiement sécurisé par carte
                    bancaire avec notre partenaire. 
                    <i class="fab fa-stripe fa-4x" style="color: #646FDF;"></i>
                  </p>
                  <p>
                    <button type="button" class="btn btn-stripe" (click)="paidWithCreditCard(carts)"><i
                        class="fas fa-credit-card mr-2"></i>
                      Payer par Carte bancaire
                    </button>
                  </p>
                </div>
                <!-- End -->

                <!-- bank transfer info -->
                <div id="nav-tab-bank" class="tab-pane fade">
                  <p>Si vous le souhaitez, vous avez la possibilité de payer votre commande à la livraison. Le paiement
                    peut se faire en espèce, Ticket restaurant ou carte bancaire. Pour le paiement en espèce, nous vous
                    recommandons de faire l'appoint.
                  </p>
                  <p>
                    <button type="button" class="btn btn-primary"><i class="fas fa-truck mr-2"></i> Payer à la
                      livraison</button>
                  </p>
                </div>
                <!-- End -->
              </div>
              <!-- End -->

            </div>


          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="container-cart col-lg-4 col-md-6 mb-4">

            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="title-cart text-muted">Panier</span>
              <span class="badge badge-danger badge-pill" style="font-size: 18px;">{{carts.length}}</span>
            </h4>

            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1">
              <li class="list-group-item d-flex justify-content-between align-items-center lh-condensed"
                *ngFor="let cart of carts | paginate: { itemsPerPage: 8, currentPage: p }">
                <div>
                  <h6 class="my-0">{{cart.quantity}} {{cart.name}}</h6>
                </div>
                <span class="text-muted">{{cart.price | currency:'EUR':'symbol':'1.2-2':'fr'}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center lh-condensed"
                *ngIf="carts.length > 1">
                <pagination-controls (pageChange)="p = $event" previousLabel="Préc" nextLabel="Suiv">
                </pagination-controls>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center"
                style="background-color: #ffcd6d;">
                <span>Total TTC <i class="fas fa-euro-sign ml-2"></i></span>
                <strong>{{ getTotalTTC() | currency:'EUR':'symbol':'1.2-2':'fr' }}</strong>
              </li>
            </ul>
            <!-- Cart -->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </main>
    <!--Main layout-->
  </div>
</div>
<app-footer></app-footer>
