<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="heading-meta">Mot de passe oublié</span>
        <h2 class="mummys-heading">Réinitialiser mon mot de passe</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <form [formGroup]="lostPasswordForm">
            <div class="header text-center">
              <i class="fas fa-lock mr-3"></i>
              Mot de passe oublié ?
            </div>
            <div class="content">
              <p>Veuillez saisir l'email utilisé lors de la création de votre compte, nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
              <div class="form-group">
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>
            <div class="footer text-center mt-4">
              <button class="btn btn-fill btn-round btn-primary btn-wd" [disabled]="!lostPasswordForm.valid"
                (click)="sendRequest()">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
