<div class="mummys-container" style="background-color: #fcfbf8;">
  <div class="mummys-narrow-content">
    <div class="row">
      <div class="col-md-8 d-none {{state ? 'd-block animate__animated animate__fadeInLeft' : ''}}">
        <div class="desc-install">
          <span class="heading-meta">Installer l'application</span>
          <h2 class="mummys-heading">Pour une meilleure expérience utilisateur</h2>
          <p>En attendant l'application mobile et pour une meilleure expérience utilisateur, installer l'application sur
            votre écran d'accueil.</p>
          <button class="btn btn-primary btn-pill d-flex align-items-center no-gutters mt-3 mb-5"
            style="width: 255px; border-radius: 35px;">
            <b>Compatible sur</b>
            <i class="fab fa-apple fa-3x ml-4 mr-3"></i>
            <i class="fab fa-android fa-3x"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4 text-center d-none {{state ? 'd-block animate__animated animate__fadeInRight' : ''}}">
        <img src="assets/images/iphone.png" alt="" width="300">
      </div>
    </div>
  </div>
</div>
