.page-footer {
  position: relative;
  background-color: #262626;

  .footer-copyright {
    font-size: 11px;
  }

  .support-newsletter {
    background-color: #ffcd6d;

    .bloc-footer {
      padding: 2em 0;

      h2 {
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        margin-bottom: 15px;
        padding-left: 15px;
        border-left: 3px solid white;
      }

      p {
        color: white;
        font-size: 13px;
      }

      .links {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          a {
            color: white;
          }
        }
      }

      .form-group {
        input {
          background: white;
          border-radius: 5px 0 0 5px;
          padding: 10px 15px;

          &::placeholder {
            color: #d1d1d1;
            font-size: 13px;
          }
        }

      }
    }

  }

}
