<footer class="page-footer font-small blue">
  <div class="support-newsletter row">
    <div class="col-lg-4 col-md-4">
      <div class="bloc-footer">
        <div class="mummys-narrow-content">
          <h2>Mummy's Food</h2>
          <p class="mummys-lead">32 rue du Fossé Mignard <br>77700 CHESSY</p>
          <a href="tel:0617925189" class="btn btn-primary mb-2"><i class="fas fa-mobile mr-1"></i> Appeler</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="bloc-footer">
        <div class="mummys-narrow-content">
          <h2>SUPPORT 24/7</h2>
          <p class="mummys-lead">Pour toutes questions, n'hésitez pas à nous contacter.</p>
          <a routerLink="/contact" class="btn btn-primary mb-2"><i class="fas fa-envelope mr-1"></i> Nous contacter</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="bloc-footer">
        <div class="mummys-narrow-content text-right">
          <h2>Newsletter</h2>
          <p class="mummys-lead">Recevez des codes promos et les dernières actualités Mummy's Food en vous inscrivant à
            la Newsletter.</p>
          <form class="form-inline d-flex justify-content-end">
            <div class="form-group mb-2">
              <label for="staticEmail2" class="sr-only">Email</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary mb-2"><i class="far fa-edit mr-1"></i> S'inscrire</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Copyright -->
  <div class="footer-copyright text-white text-center py-3">© 2020 Mummy's Food. Tous droits réservés - Réalisé par
    <a href="https://dpwstudio.com/"> DP WStudio</a>
  </div>
  <!-- Copyright -->

</footer>
