<app-sidebar></app-sidebar>
<div id="mummys-main" [class.toggled]="isSidebarVisible()">
  <div class="nav-mobile">
    <img src="assets/images/logo-mob.png" alt="" width="50">
    <a class="nav-link" routerLink="/cart" routerLinkActive="active">
      <i class="fas fa-shopping-cart mr-2" style="font-size: 22px;"></i>
      <span class="total-cart">{{getTotalCurrentCart()}}</span>
    </a>
  </div>
  <router-outlet>
    <notifier-container style="position: absolute;"></notifier-container>
  </router-outlet>
  <div class="nav-footer pt-2">
    <a routerLink="/entrees" class="d-flex flex-column align-items-center">
      <i class="fas fa-carrot fa-lg mb-1"></i>
      Entrées
    </a>
    <a routerLink="/plats" class="d-flex flex-column align-items-center">
      <i class="fas fa-utensils fa-lg fa-lg mb-1"></i>
      Plats
    </a>
    <a routerLink="/desserts" href="" class="d-flex flex-column align-items-center">
      <i class="fas fa-ice-cream fa-lg mb-1"></i>
      Desserts
    </a>
    <a routerLink="/boissons" href="" class="d-flex flex-column align-items-center">
      <i class="fas fa-cocktail fa-lg mb-1"></i>
      Boissons
    </a>
    <a routerLink="/menus" href="" class="d-flex flex-column align-items-center">
      <i class="fas fa-cube fa-lg mb-1"></i>
      Menus
    </a>
  </div>
</div>
