<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="heading-meta">Panier</span>
        <h2 class="mummys-heading">Récapitulatif de votre commande.</h2>
        <div class="ariane-fil d-flex align-items-center justify-content-center">
          <div class="ml-3 mr-3">
            <a routerLink="/cart">
              <h2 class="active d-flex align-items-center">
                <i class="fas fa-shopping-cart"></i>
                <span>Panier</span>
              </h2>
            </a>
          </div>
          <i class="fas fa-angle-right" *ngIf="carts.length > 0"></i>
          <a routerLink="/delivery" *ngIf="carts.length > 0">
            <div class="ml-3 mr-3">
              <h2 class="d-flex align-items-center"><i class="fas fa-truck"></i>
                <span>Livraison</span>
              </h2>
            </div>
          </a>
          <i class="fas fa-angle-right" *ngIf="carts.length > 0"></i>
          <div class="ml-3 mr-3" *ngIf="carts.length > 0">
            <a routerLink="/checkout">
              <h2 class="d-flex align-items-center">
                <i class="fas fa-credit-card"></i>
                <span>Paiement</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/order.png" alt="...">
            <div class="content-card" *ngIf="carts.length > 0">
              <h5 class="card-title">Détail de la commande</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cart of carts | paginate: { itemsPerPage: 10, currentPage: p }">
                    <th scope="row">{{cart.id}}</th>
                    <td>{{cart.name}}</td>
                    <td>{{cart.quantity}}</td>
                    <td>{{cart.price | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>
                    <td style="cursor: pointer;"><i class="text-danger fas fa-trash"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="content-card" *ngIf="carts.length === 0">
              <h5 style="margin: 3em 0px 4em;">Votre panier est vide</h5>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-center" *ngIf="carts.length > 0">
            <pagination-controls (pageChange)="p = $event" previousLabel="Préc"
            nextLabel="Suiv"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-8"  *ngIf="carts.length > 0">
        <div class="card card-user">
          <div class="card-body" style="padding-top: 20px;">
            <div class="content-card">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="card-title text-left" style="margin: 0;">Sous-total TTC</h5>
                <p class="card-description text-left">
                  <span class="badge badge-primary badge-pill">{{carts.length}} {carts.length, plural, =0 {article} =1 {article} other {articles}}</span></p>
              </div>
              <h1 class="sous-total">
                {{ getTotalTTC() | currency:'EUR':'symbol':'1.2-2':'fr' }}
              </h1>
            </div>
          </div>
          <div class="card-footer text-center">
            <a routerLink="/delivery" class="btn btn-primary" style="width: 100%;">Je confirme
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
