<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="section-title animate__animated animate__fadeInDown">
          Récapitulatif de votre commande
          <span>Mon Panier</span>
        </h2>
        <div class="ariane-fil d-flex align-items-center justify-content-center">
          <div class="ml-3 mr-3">
            <a routerLink="/cart">
              <h2 class="active d-flex align-items-center">
                <i class="fas fa-shopping-cart"></i>
                <span>Panier</span>
              </h2>
            </a>
          </div>
          <i class="fas fa-angle-right" *ngIf="carts.length > 0"></i>
          <a routerLink="/cart" *ngIf="carts.length > 0">
            <div class="ml-3 mr-3">
              <h2 class="d-flex align-items-center"><i class="fas fa-truck"></i>
                <span>Livraison</span>
              </h2>
            </div>
          </a>
          <i class="fas fa-angle-right" *ngIf="carts.length > 0"></i>
          <div class="ml-3 mr-3" *ngIf="carts.length > 0">
            <a routerLink="/cart">
              <h2 class="d-flex align-items-center">
                <i class="fas fa-credit-card"></i>
                <span>Paiement</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/order.png" alt="...">
            <div class="content-card" *ngIf="carts.length > 0">
              <h5 class="card-title">Détail de la commande</h5>
              <!-- <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix unitaire TTC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cart of carts | paginate: { itemsPerPage: numberPerPage, currentPage: p }">
                    <td>
                      <div style="width: 70px; height: 70px; overflow: hidden; border-radius: 10px;">
                        <img src="http://dpwstudio.local:3000/images/products/{{cart.image}}" alt=""
                          style="height: 100%; object-fit: cover; width: 100%;">
                      </div>
                    </td>
                    <td>{{cart.name}}</td>
                    <td>
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="minus" (click)="decrement(cart)">-</span>
                        <input disabled class="form-control" type="text" [(ngModel)]="cart.quantity" min="0" max="8"
                          id="qty">
                        <span class="plus" (click)="increment(cart)">+</span>
                      </div>

                    </td>
                    <td>{{cart.price | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>
                  </tr>
                </tbody>
              </table> -->
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let cart of carts">
                  <div class="item-cart d-flex align-items-center flex-column">
                    <div style="width: 100%; height: 120px; overflow: hidden;">
                      <img src="http://dpwstudio.local:3000/images/products/{{cart.image}}" alt=""
                        style="height: 100%; object-fit: cover; width: 100%;">
                    </div>
                    <div class="detail d-flex align-items-center justify-content-between">
                      <div>
                        <h2 class="no-gutters">{{cart.name}}</h2>
                        <p>11,00 €</p>
                      </div>

                      <div class="d-flex align-items-center justify-content-end">
                        <span class="minus" (click)="decrement(cart)">-</span>
                        <input disabled class="form-control" type="text" [(ngModel)]="cart.quantity" min="0" max="8"
                          id="qty">
                        <span class="plus" (click)="increment(cart)">+</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="content-card" *ngIf="carts.length === 0">
              <h5 class="d-flex flex-column" style="margin: 3em 0;">
                Votre panier est vide.
                <i class="far fa-frown mt-3" style="font-size: 40px; color: #ffcd6d;"></i>
              </h5>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-center" *ngIf="carts.length > numberPerPage">
            <pagination-controls (pageChange)="p = $event" previousLabel="Préc" nextLabel="Suiv"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-8" *ngIf="carts.length > 0">
        <div class="card card-user">
          <div class="card-body" style="padding-top: 20px;">
            <div class="content-card">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="card-title text-left" style="margin: 0; font-size: 15px">Sous-total TTC</h5>
                <p class="card-description text-left">
                  <span class="badge badge-primary badge-pill">{{carts.length}} {carts.length, plural, =0 {article} =1
                    {article} other {articles}}</span></p>
              </div>
              <h1 class="sous-total">
                {{ getTotalTTC() | currency:'EUR':'symbol':'1.2-2':'fr' }}
              </h1>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary" style="width: 100%;" (click)="confirmCart()">Je confirme
              <i class="fas fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
