.mummys-container {
  padding-top: 0;
  padding-bottom: 3em;

  .modality {
    padding: 0 20px;

    .card {
      background: #f7f0e6;
      margin: 40px 0 0;
      border: none;
      border-radius: 25px;
      padding: 30px;
      border-bottom: 5px solid #e0d0bb;

      .card-img-top {
        width: 23%;
        margin-bottom: 20px;
      }

      .card-body {
        padding: 0;

        .card-title {
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
        }

        .card-text {
          color: #b7b7b7;
          font-size: 12px;
        }
      }

    }
  }

  .about-img {
    border-radius: 15px;
    box-shadow: 0 1px 8px 1px #2727273b;
  }

  @media screen and (max-width: 400px) {
    .about-desc {
      margin-top: 2em;
    }

    .icone-step {
      margin: 20px auto;
    }
  }

  .services-wrap {
    .services-img {
      border-radius: 15px;
      box-shadow: 0 1px 8px 1px #2727273b;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  .icone-step {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 40px;
    border-bottom: 5px solid #f7f0e6;

    span {
      position: absolute;
      left: -28px;
      top: 75px;
      font-size: 30px;
      background: #fdca2e;
      padding: 0px 18px;
      font-weight: bold;
      color: white;
      border-radius: 35px;
    }

    img {
      margin-top: 20px;
    }

    .title-box {
      color: #dfd1ba;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 0;
    }
  }
}

.mummys-counters {
  background-position: center center;
  transform: translateZ(-1px) scale(1.1);
  background-size: cover;

  .content-story {
    background: #f7f4ef;
    margin: 3em auto;
    padding: 30px 40px;
    border-radius: 60px 10px;
    border-bottom: 7px solid #dfd1ba;
  }
}


.mummys-heading.story:after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 60px;
  height: 4px;
  content: "";
  background: #ffdc8c;
  transform: translateX(-160%);
}
