<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="heading-meta">Confirmation</span>
        <h2 class="mummys-heading">Votre commande est confirmé !</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-md-3">
        <div class="card card-user animate__animated animate__tada">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/checked.png" alt="...">
            <div class="content-card">
              <h5 class="card-title">Merci {{currentUser.firstname}} !</h5>
              <p class="card-description text-left">
                Je vous confirme la prise en charge de votre commande, elle vous sera livré dans un délai de 15 à 30
                minutes à l'adresse indiquée.
              </p>
              <p class="card-description text-left mt-2">
                N'hésitez pas à nous contacter si l'attente vous parait trop longue.
              </p>
            </div>
          </div>
          <div class="card-footer text-center mt-3">
            <p class="card-description text-center d-flex align-items-center justify-content-center">
              <span>A bientôt sur Mummy's Food.</span>
              <i class="far fa-smile-wink ml-2" style="font-size: 25px; color: #ffcd6e;"></i></p>
            <img class="mr-3" src="assets/images/logo.png" alt="" width="70">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
