<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <span class="heading-meta">Mon compte</span>
        <h2 class="mummys-heading">Toutes vos informations sont ici.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/user.png" alt="...">
            <div class="author">
              <h5 class="card-title" style="margin-bottom: 15px;">{{currentUser.firstname}}
                {{currentUser.lastname}}</h5>
              <h2 class="title">Identifiant</h2>
              <p class="card-description">
                {{currentUser.email}}
              </p>
              <p class="card-description text-center">
                <i class="fas fa-mobile-alt mr-2"></i>
                {{currentUser.phone}}
              </p>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-description text-center" style="font-style: italic; font-size: 12px; color: #ad987b;">
              Client depuis le {{currentUser.created_at | date:'dd/MM/yyyy'}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/place.png" alt="...">
            <div class="author">
              <h5 class="card-title">Adresse de livraison</h5>
              <p class="card-description text-center">
                {{currentUser.address}} <br>
                {{currentUser.zipcode}}
                {{currentUser.city}} <br>
              </p>

            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary">Modifier</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/order.png" alt="...">
            <div class="author">
              <h5 class="card-title">Total commandes</h5>
              <h1 style="color: #ad987b;">
                48
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/euro.png" alt="...">
            <div class="author">
              <h5 class="card-title">Total en euros</h5>
              <h1 style="color: #ad987b;">
                48.00 €
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/order.png" alt="...">
            <div class="author">
              <h5 class="card-title">Mes commandes</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Salade César</td>
                    <td>Tomate, Mozarella, Poulet</td>
                    <td>6,50€</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Salade César</td>
                    <td>Tomate, Mozarella, Poulet</td>
                    <td>6,50€</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Salade César</td>
                    <td>Tomate, Mozarella, Poulet</td>
                    <td>6,50€</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
