<div class="loading d-flex flex-column align-items-center justify-content-center" *ngIf="loading">
  <div class="animate__animated animate__pulse animate__infinite text-center">
    <img src="assets/images/logo.png" alt="" width="100">
    <p class="text-white mt-2">Veuillez patienter...</p>
  </div>
</div>
<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="section-title">
          Toutes vos informations sont ici
          <span>Mon compte</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/user.png" alt="...">
            <div class="author">
              <h5 class="card-title" style="margin-bottom: 15px;">{{currentUser.firstname}}
                {{currentUser.lastname}}</h5>
              <p class="card-description">
                {{currentUser.email}}
              </p>
              <p class="card-description text-center">
                <i class="fas fa-mobile-alt mr-2"></i>
                {{currentUser.phone}}
              </p>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-description text-center" style="font-style: italic; font-size: 12px; color: #dfd1ba;">
              Client depuis le {{currentUser.createdAt | date:'dd/MM/yyyy'}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/place.png" alt="...">
            <div class="author">
              <h5 class="card-title">Adresse de livraison</h5>
              <p class="card-description text-center">
                {{currentUser.address}} <br>
                {{currentUser.zipcode}}
                {{currentUser.city}} <br>
              </p>

            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary" (click)="editDeliveryAddressDialog(content)">Modifier</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/order.png" alt="...">
            <div class="author">
              <h5 class="card-title">Total commandes</h5>
              <h1 style="color: #ffcd6e; font-size: 2.4em;">
                {{orders.length}}
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/euro.png" alt="...">
            <div class="author">
              <h5 class="card-title">Total en euros</h5>
              <h1 style="color: #ffcd6e; font-size: 2.4em;">
                {{getTotalOrdersTTC() | currency:'EUR':'symbol':'1.2-2':'fr' }}
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card card-user">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/order.png" alt="...">
            <div class="author">
              <h5 class="card-title">Mes commandes</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Date</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Total</th>
                    <th scope="col">Détail</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders | paginate: { itemsPerPage: numberPerPage, currentPage: p }">
                    <th scope="row">{{order.id}}</th>
                    <td>{{order.createdAt | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td class="text-center">
                      <i class="fas fa-hourglass-start text-primary" style="font-size: 20px;"
                        *ngIf="order.status === 'pending'"></i>
                      <i class="fas fa-check text-success" style="font-size: 20px;"
                        *ngIf="order.status === 'delivered'"></i>
                      <i class="fas fa-times text-danger" style="font-size: 20px;"
                        *ngIf="order.status === 'cancelled'"></i>
                    </td>
                    <td>{{order.total | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>
                    <td>
                      <button class="btn btn-primary btn-round" (click)="showDetail(contentDetail, order.carts)">
                        <i class="far fa-eye text-white fa-lg"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center" *ngIf="orders?.length > numberPerPage">
                <pagination-controls (pageChange)="p = $event" previousLabel="Préc" nextLabel="Suiv">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifier mon adresse</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editDeliveryAddressForm">
      <div class="content">
        <div class="form-group">
          <input class="form-control" formControlName="address" placeholder="Adresse" type="text">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="zipcode" placeholder="Code postal" type="text">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="city" placeholder="Ville" type="text">
        </div>
      </div>
      <div class="footer text-center mt-4">
        <button class="btn btn-fill btn-round btn-primary btn-wd" [disabled]="!editDeliveryAddressForm.valid"
          (click)="editDeliveryAddress()">Modifier</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Détail de la commande</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of carts">
          <td>{{cart.name}}</td>
          <td>{{cart.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
