<ngb-carousel [interval]="5000" *ngIf="slides" [showNavigationArrows]="showNavigationArrows">
  <ng-template ngbSlide *ngFor="let slide of slides">

    <img [src]="slide.image" alt="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12">
          <div class="slider-text-inner animate__animated animate__fadeInUp">
            <div class="desc">
              <h1>{{ slide.title }}</h1>
              <h2>{{ slide.subtitle }}</h2>
              <p><a routerLink="/plats" class="btn btn-primary btn-learn">Commander <i
                    class="icon-arrow-right3"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<div class="position-relative">
  <div class="bottom-shape">
    <img alt="circle" src="assets/images/banner1.png">
  </div>
</div>
