<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row">
      <div class="col-md-4 align-items-center {{state ? 'animate__animated animate__fadeInLeft' : ''}}">
        <div class="about-desc">
          <span class="heading-meta">Livraison</span>
          <h2 class="mummys-heading">Zone de livraison possible</h2>
          <p>La livraison est gratuite à partir de 15,00 € de commande. Pour voir si vous êtes éligible à la livraison,
            vous trouverez joint ci-après une map des zones où il est possible de se faire livrer.</p>
        </div>
      </div>
      <div class="col-md-8 {{state ? 'animate__animated animate__fadeInRight' : ''}}">
        <div class="about-img" [defaultImage]="'assets/images/components/delivery/zone-livraison-default.jpg'"
          [lazyLoad]="'assets/images/components/delivery/zone-livraison.jpg'"></div>
      </div>
    </div>
  </div>
</div>
