<div class="row" *ngIf="products?.length > 0">
  <div class="col-lg-4 animate__animated animate__bounceIn" *ngFor="let product of products">
    <div class="wrapper mb-2">
      <div class="container-product">
        <div class="top" (click)="goDetail(detailProduct, product)"
          style="background: url(http://localhost:3000/images/products/{{product.image}}) no-repeat center center; background-size: 100%;">
        </div>
        <div class="bottom">
          <div class="left">
            <div class="details d-flex flex-column justify-content-center">
              <h1>{{product.name}}</h1>
              <p>{{product.price | currency:'EUR':'symbol':'1.2-2':'fr' }}</p>
            </div>
            <div (click)="addProductToCart(product)" class="buy d-flex align-items-center justify-content-center">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="right">
            <div class="done"><i class="fas fa-check"></i></div>
            <div class="details">
              <h1>{{product.name}}</h1>
              <p>a été ajouté à votre panier.</p>
            </div>
            <div class="remove"><i class="fas fa-times"></i></div>
          </div>
        </div>
      </div>
      <div class="inside">
        <div class="icon"><i class="fas fa-info-circle"></i></div>
        <div class="contents d-flex align-items-center justify-content-center">
          <div class="product-desc">
            <h5>Composition</h5>
            <p>{{product.ingredient}}</p>
          </div><!-- End .product-desc -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center" *ngIf="products?.length === 0">
  <div class="card no-product">
    <div class="card-body">
      <h5 class="no-product-text">Aucun produit disponible.</h5>
    </div>
  </div>
</div>

<ng-template #detailProduct let-modal>
  <div class="modal-body d-flex align-items-center">
    <button type="button" class="close d-flex" (click)="modal.dismiss('Cross click')">
      <i class="fas fa-times"></i>
    </button>
    <div class="row">
      <div class="col-md-6 product-single-gallery">
        <div class="container-image">
          <img src="http://localhost:3000/images/products/{{product.image}}" alt="">
        </div>
      </div>
      <div class="col-md-6 product-single-details d-flex align-items-center justify-content-center">
        <div class="content">
          <h1 class="product-title">{{product.name}}</h1>
          <div class="product-desc">
            <p>{{product.description}}</p>
          </div><!-- End .product-desc -->

          <div class="price-box">
            <span class="product-price">{{product.price | currency:'EUR':'symbol':'1.2-2':'fr' }}</span>
          </div><!-- End .price-box -->

          <hr class="divider">
          <div class="number d-flex flex-row align-items-center justify-content-between">
            <div class="quantity d-flex justify-content-between align-items-center">
              <label for="qty">Qté</label>
              <span class="minus" (click)="decrement()">-</span>
              <input class="form-control" type="text" [(ngModel)]="quantity" min="1" max="8"
                (ngModelChange)="getQuantity($event)" id="qty" disabled>
              <span class="plus" (click)="increment()">+</span>
            </div>
            <button type="button" class="btn btn-primary" (click)="addProductToCart(product)">
              Ajouter au panier
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider">
  </div>
</ng-template>
