<div class="mummys-container">
	<div class="mummys-narrow-content">
	  <div class="row">
		 <div class="col-md-6 col-md-offset-3 col-md-pull-3">
			<span class="heading-meta">Composer votre repas</span>
			<h2 class="mummys-heading">La carte</h2>
		 </div>
	  </div>
	  <div class="row">
		 <div class="col-md-10 offset-md-1">
			<div class="row">
			  <div class="col-md-6">
				 <a routerLink="/entrees" class="services-wrap">
					<div class="services-img" style="background-image: url(assets/images/entrees/img-3.jpg);"></div>
					<div class="desc">
					  <h3>Entrées</h3>
					</div>
				 </a>
				 <a routerLink="/plats" class="services-wrap">
					<div class="services-img" style="background-image: url(assets/images/carousel/img-5.jpg);"></div>
					<div class="desc">
					  <h3>Plats</h3>
					</div>
				 </a>
				 <a routerLink="/desserts" class="services-wrap">
					<div class="services-img" style="background-image: url(assets/images/desserts/img-1.jpg);"></div>
					<div class="desc">
					  <h3>Desserts</h3>
					</div>
				 </a>
			  </div>
			  <div class="col-md-6 move-bottom">
				 <a routerLink="/boissons" class="services-wrap">
					<div class="services-img" style="background-image: url(assets/images/boissons.jpeg);"></div>
					<div class="desc">
					  <h3>Boissons</h3>
					</div>
				 </a>
				 <a routerLink="/menus" class="services-wrap">
					<div class="services-img" style="background-image: url(assets/images/menu.jpg);">
					</div>
					<div class="desc">
					  <h3>Menus</h3>
					</div>
				 </a>
			  </div>
			</div>
		 </div>
	  </div>
	</div>
 </div>