<div id="mummys-counter" class="mummys-counters" [class.d-block]="state" [defaultImage]="'assets/images/home/about/bkg-default.jpg'"
  [lazyLoad]="'assets/images/home/about/bkg.jpg'">
  <div class="row bloc-content-story">
    <div
      class="content-story col-md-6 offset-md-3 text-center {{state ? 'd-block animate__animated animate__swing' : ''}}">
      <div class="about-desc">
        <img [defaultImage]="'assets/images/home/about/chef-default.png'"
          [lazyLoad]="'assets/images/home/about/chef.png'" width="100" />
        <h2 class="section-title">
          Bienvenue chez MUMMY'S Food
          <span>WHO I AM</span>
        </h2>
        <p>Je suis une jeune maman de 3 enfants et je suis passionnée de cuisine, j'adore découvrir de nouvelles
          saveurs et lorsque je goute un plat que j'aime, j'ai tout de suite envie de le reproduire et de le faire
          partager à mes enfants et à mon mari. Ca peut-être des découvertes chez des amies de toutes origines ou dans
          des restaurants de différentes variétés...</p>
      </div>
      <a routerLink="/about" class="btn btn-primary btn-learn">Lire la suite <i class="icon-arrow-right3"></i></a>
    </div>
  </div>
</div>
