.mummys-counters {
  // display: none;
  background-position: center center;
  transform: translateZ(-1px) scale(1.1);
  background-size: cover;

  .content-story {
    // display: none;
    background: #fff;
    margin: 3em auto;
    padding: 25px;
    border-radius: 70px 10px 70px 10px;
    border-bottom: 5px solid #dfd1ba;

    .about-desc {
      p {
        font-size: 14px;
      }
    }
  }

  &::after {
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: 0;
    content: "";
    left: 0;
    right: 0;
    background: #0000007d;
  }
}


.mummys-heading.story:after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 60px;
  height: 4px;
  content: "";
  background: #ffdc8c;
  transform: translateX(-160%);
}


@media screen and (max-width: 500px) {
  .bloc-content-story {
    padding: 0 5px;
  }

  .about-desc {
    margin-top: 1em;
  }
}

@media screen and (max-width: 768px) {
  .mummys-counters {
    padding: 0 45px;
  }
}

@media screen and (max-width: 420px) {
  .mummys-counters {
    padding: 0 45px;
  }
}
