<div class="mummys-work">
  <div class="mummys-narrow-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-md-pull-3">
        <span class="heading-meta">Ma sélection de</span>
        <h2 class="mummys-heading">Boissons</h2>
      </div>
    </div>
    <app-list-products [products]="drinks"></app-list-products>
  </div>
</div>

<div id="get-in-touch" class="mummys-bg-color">
  <div class="mummys-narrow-content">
    <div class="row">
      <div class="col-md-6">
        <h2>Contact</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-md-pull-3">
        <p class="mummys-lead">Pour toutes questions, n'hésitez pas à me contacter en cliquant en dessous.</p>
        <p><a routerLink="/contact" class="btn btn-primary btn-learn">Contactez-moi !</a></p>
      </div>
    </div>
  </div>
</div>
