<div class="mummys-container">
  <div class="mummys-narrow-content">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="section-title">
          Votre commande est annulée
          <span>Annulation</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-md-3">
        <div class="card card-user animate__animated animate__wobble">
          <div class="card-body">
            <img class="avatar border-gray" src="assets/images/cancel.png" alt="...">
            <div class="content-card">
              <h5 class="card-title mb-4">Bonjour {{currentUser.firstname}},</h5>
              <p class="card-description mb-3">
                Suite à votre demande, la commande a été annulée, cependant votre panier reste actif si vous souhaitez
                toujours commander.
              </p>
              <p class="card-description mt-2">
                N'hésitez pas à nous contacter si vous avez des questions.
              </p>
            </div>
          </div>
          <div class="card-footer text-center mt-3">
            <p class="card-description text-center d-flex align-items-center justify-content-center">
              <span class="footer-text">A bientôt sur Mummy's Food.</span>
              <i class="far fa-smile-wink ml-2" style="font-size: 25px; color: #ffcd6e;"></i></p>
            <img class="mr-3 mb-2" src="assets/images/logo.png" alt="" width="70">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
