<div class="row modality">
	<div class="col-lg-3 col-md-6 col-6">
	  <div class="card align-items-center justify-content-center">
		 <img class="card-img-top" src="assets/images/tray.png" alt="Support">
		 <div class="text-center">
			<h5 class="card-title">Horaires</h5>
			<p class="card-text">de 11h à 14h et <br> de 19h à 00h</p>
		 </div>
	  </div>
	</div>
	<div class="col-lg-3 col-md-6 col-6">
	  <div class="card align-items-center justify-content-center">
		 <img class="card-img-top" src="assets/images/delivery.png" alt="Livraison">
		 <div class="text-center">
			<h5 class="card-title">Livraison gratuite</h5>
			<p class="card-text">à partir de 15 € de commande</p>
		 </div>
	  </div>
	</div>
	<div class="col-lg-3 col-md-6 col-6">
	  <div class="card align-items-center justify-content-center">
		 <img class="card-img-top" src="assets/images/credit-card.png" alt="Paiement sécurisé">
		 <div class="text-center">
			<h5 class="card-title">Paiement sécurisé</h5>
			<p class="card-text">on line ou <br> à la livraison</p>
		 </div>
	  </div>
	</div>
	<div class="col-lg-3 col-md-6 col-6">
	  <div class="card align-items-center justify-content-center">
		 <img class="card-img-top" src="assets/images/support.png" alt="Support">
		 <div class="text-center">
			<h5 class="card-title">Support 24/7</h5>
			<p class="card-text">on line</p>
		 </div>
	  </div>
	</div>
 </div>